language: python
python:
    - "3.5"
env:
    - TOX_ENV=py27
    - TOX_ENV=py33
    - TOX_ENV=py34
    - TOX_ENV=py35
install:
    - pip install tox
    - pip install setuptools==32.3.1
script:
    - tox -e $TOX_ENV
