pytest~=7.2
coverage~=6.5
coveralls~=3.3
mock~=5.0
requests-mock~=1.10
Pygments~=2.14
flake8~=6.0
build~=0.10
wheel~=0.40
twine~=4.0
behave==1.2.6  # behave tests
importlib_metadata==7.2.1
spacy~=3.8.7
sentence-transformers~=5.1
transformers==4.56.2; python_version < '3.10'  # Issue https://github.com/huggingface/transformers/issues/41339
openai~=1.108
