requests~=2.27            # api tests
selenium~=4.0             # web tests
Appium-Python-Client~=2.3 # mobile tests
Pillow~=9.4               # visual testing
screeninfo~=0.8
lxml~=5.1
Faker~=18.3
phonenumbers~=8.13
