requests~=2.27                   # api tests
selenium~=4.0                    # web tests
Appium-Python-Client>=2.3,<5.0   # mobile tests
Pillow~=12.0                     # visual testing
screeninfo~=0.8
lxml~=6.0
Faker~=38.0
phonenumbers~=9.0
