body {
  font-family: Helvetica,Arial;
  font-size: 16px;
}
table {
  border-spacing: 0px;
  table-layout:fixed;
  word-break: break-all;
  background: #f5f5f5;
}
th, td {
  border-top: 2px solid gray;
}
th.image {
  width: 27%
}
tr.equal {
  background: #dff0d8;
}
tr.diff {
  background: #f2dede;
}
td {
  padding: 6px;
  overflow: hidden;
}
div#summary {
  margin-top: 20px;
  margin-bottom: 30px;
  background: #f5f5f5;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
img {
  cursor: pointer;
  width: 100%;
}
.tc-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 100;
  font-size: 0;
  cursor: pointer;
}
.tc-modal:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
  margin-left: -1px;
}
.tc-modal > * {
  display: inline-block;
  vertical-align: middle;
}
.tc-modal.show {
  display: block;
}
.tc-modal img {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
  padding: 30px 40px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
